body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282C34;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header {
  width: 100vw;
  height: 100px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #21252B;
}

.header-buttons{
  position: absolute;
  right: 20px;
  cursor: pointer;
  user-select: none;
}

.logo{
  height: 100px;
  margin-right: 1em;
}

.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  margin: 10px;
  border: 5px solid #333841;
  }

.ball:hover,.ball.hovered{
  border: 5px solid #528BFF
}

.ball-stripe {
  height: 50%;
  width: 100%;
  position: relative;
  top: calc(25% - 2px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;  
  font-weight: bolder;
  font-size: 50px;
	-webkit-text-stroke: 2px black;
  padding-bottom: 5px;
}

.removed{
  filter: brightness(25%);
}
.balls-holder {
  position: absolute;
  top: 100px;
  left: 0;
  width: 50%;
  height: calc(100% - calc(100px + 30%));
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px;
  background: #333842;  
  transition: all 0.25s ease-in-out;
  border-bottom: 1px solid #757575;
}

.balls-holder.hide {
  height: calc(100% - 100px);
  border-bottom: 0;
}

.players{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 20px;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100% - calc(100px + 30%));
  background: #282C34;
  position: absolute;
  top: 100px;
  right: 0;
  box-sizing: border-box;
  padding: 20px 20px 20px 50px;
  opacity: 1;
  transition: all 0.25s ease-in-out;
  border-bottom: 1px solid #757575;
}

.players.hide {
  transform: translateX(50vw);
  opacity: 0;
  border-bottom: 0;
}

.players-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 366px;
}

.players-header button{
  background: #333842;
  color: #D7DAE0;
  font-weight: bolder;
  font-size: 25px;
  border: 3px solid #333842;
  outline: 0;
  padding: 10px 25px;
  user-select: none;
  cursor: pointer;
}

.players-header button:hover{
  border: 3px solid #528BFF
}

.players input{
  background: #333842;
  color: #D7DAE0;
  font-weight: bolder;
  font-size: 30px;
  padding: 10px 30px;
  border: 3px solid #333842;
  outline: 0;
  max-width: 300px;
}

.players input:focus{
  border: 3px solid #528BFF
}

.players .player-row{
  color: #D7DAE0;
  font-weight: bolder;
  font-size: 20px;
  padding: 10px 0;
  background: #2C313C;
  max-width: 50%;
  min-width: 366px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-row .delete{
  color: #E05A54;
}

.player-row svg{
  cursor: pointer;
  user-select: none;
}

.player-controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.controls {
  position: absolute;
  bottom: 0;
  height: 30%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}

.controls.started {
  width: 50%;
  height: calc(100% - 100px);
  border: 0;
  transform: translateX(50vw);
}

.action{
  background: #333842;
  color: #D7DAE0;
  font-weight: bolder;
  font-size: 50px;
  border: 3px solid #333842;
  outline: 0;
  padding: 20px 50px;
  user-select: none;
  cursor: pointer;
}

.action:focus,.action:hover{
  border: 3px solid #528BFF
}

